html, body {
    /*height: 100%;*/
}

.mapCanvas {
    padding-top: 1.5rem;
    width: 100%;
    display:block;
    /*padding-bottom: 4rem;*/
    /*!*margin: 0;*!*/
    /*display: flex;*/

    /*!* This centers our sketch horizontally. *!*/
    /*justify-content: center;*/

    /*!* This centers our sketch vertically. *!*/
    /*align-items: center;*/

}

.starter-template {
    padding: 6rem 1.5rem;
    text-align: center;
}


