body {
    padding-top: 2rem;
}
.starter-template {
    padding: 6rem 1.5rem;
    text-align: center;
}

/* change the background color */
.navbar-custom {
    background-color: rgba(0, 0, 0, 0.9);
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}


.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.btn{
    margin-left:10px;
}