html, body {
    /*height: 100%;*/
}

body {
    padding-top: 8rem;
    padding-bottom: 4rem;
}

.starter-template {
    padding: 6rem 1.5rem;
    text-align: center;
}

.postImage {
    width: 100%;
}

.imageFrame {
    margin-top: 20px;
    padding: 20px 20px 20px 20px;
    background-color: #191a1a;
    border-radius: 10px;
}

.imageFrame img {
    border-radius: 5px;
}

article {
    text-align: justify;
}

.commentFrame {
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 10px;
}
